In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [9]:
df.species=le.fit_transform(df.species)

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [12]:
y=df.species
X=df.drop('species',axis=1)

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scle=StandardScaler()

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y)

In [18]:
xtrain=scle.fit_transform(xtrain)

In [19]:
xtest=scle.transform(xtest)

In [20]:
from sklearn.ensemble import AdaBoostClassifier
adaboost = AdaBoostClassifier(n_estimators=100, base_estimator= None,learning_rate=1, random_state = 1)

In [21]:
adaboost.fit(xtrain,ytrain)

AdaBoostClassifier(learning_rate=1, n_estimators=100, random_state=1)

In [22]:
ypred=adaboost.predict(xtest)

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(ytest,ypred)

array([[14,  0,  0],
       [ 0, 10,  3],
       [ 0,  0, 11]], dtype=int64)