In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder().fit(df.species)

In [11]:
df.species=le.transform(df.species)

In [12]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [13]:
y=df.species
x=df.drop('species',axis=1)

In [14]:
scale=StandardScaler()

In [41]:
scale_x=scale.fit_transform(x)

In [42]:
xtrain,xtest,ytrain,ytest=train_test_split(scale_x,y)

In [43]:
model=KNeighborsClassifier()

In [44]:
model.fit(xtrain,ytrain)

KNeighborsClassifier()

In [46]:
ypred=model.predict(xtest)
ypred

array([1, 0, 0, 0, 2, 2, 2, 0, 1, 0, 2, 2, 2, 0, 0, 1, 0, 2, 1, 1, 1, 2,
       2, 2, 2, 0, 2, 1, 2, 0, 0, 1, 2, 1, 0, 0, 1, 2])

In [47]:
accuracy_score(ytest,ypred)

0.9736842105263158