In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [35]:
df=sns.load_dataset('diamonds')

In [36]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [37]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

In [38]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

In [39]:
cols=['color','cut','clarity']
fit = df[cols].apply(lambda x: d[x.name].fit_transform(x))
df.drop(cols,axis=1,inplace=True)

In [40]:
df=pd.concat((fit,df),axis=1)

In [41]:
df.head()

   color  cut  clarity  carat  depth  table  price     x     y     z
0      1    2        3   0.23   61.5   55.0    326  3.95  3.98  2.43
1      1    3        2   0.21   59.8   61.0    326  3.89  3.84  2.31
2      1    1        4   0.23   56.9   65.0    327  4.05  4.07  2.31
3      5    3        5   0.29   62.4   58.0    334  4.20  4.23  2.63
4      6    1        3   0.31   63.3   58.0    335  4.34  4.35  2.75

In [42]:
y=df.price
x=df.drop('price',axis=1)

In [43]:
scalex=StandardScaler()
scaley=StandardScaler()

from sklearn.model_selection import train_test_split

In [44]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [45]:
xtrain=scalex.fit_transform(xtrain)
ytrain=scaley.fit_transform(ytrain.values.reshape(-1,1))

In [46]:
from sklearn.ensemble import AdaBoostRegressor

In [47]:
model=AdaBoostRegressor()

In [53]:
model.fit(xtrain,ytrain.ravel())

AdaBoostRegressor()

In [54]:
xtest=scalex.transform(xtest)
ypred=model.predict(xtest)

In [58]:
ypred=scaley.inverse_transform(ypred)

In [64]:
pd.concat((pd.DataFrame(ytest).reset_index(drop=True),pd.DataFrame(ypred)) ,axis=1)

       price            0
0       2656  3965.708455
1       2104  3134.269036
2       1077  1816.929505
3       5082  6451.923588
4       3080  3576.866228
...      ...          ...
10783   1281  2188.960448
10784   1431  1393.325954
10785    702  1581.712526
10786    552  1362.973872
10787    755  1581.712526

[10788 rows x 2 columns]

In [65]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [66]:
r2_score(ytest,ypred)

0.8805984833444397

In [67]:
mean_absolute_error(ytest,ypred)

1102.4090183056194

In [68]:
mean_squared_error(ytest,ypred)

1907215.4337569836