In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=sns.load_dataset('diamonds')

In [4]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

In [10]:
col=['cut','color','clarity']
fit = df[col].apply(lambda x: d[x.name].fit_transform(x))
df.drop(col,axis=1,inplace=True)

In [16]:
df=pd.concat([df,fit],axis=1)

In [17]:
y=df.price
x=df.drop('price',axis=1)

In [19]:
from sklearn.neighbors import KNeighborsRegressor

In [20]:
model=KNeighborsRegressor()

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scale=StandardScaler()

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [26]:
scale_x=scale.fit(xtrain)

In [28]:
xtrain=scale_x.transform(xtrain)
xtest=scale_x.transform(xtest)

In [29]:
model.fit(xtrain,ytrain)

KNeighborsRegressor()

In [30]:
ypred=model.predict(xtest)

In [34]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [32]:
r2_score(ytest,ypred)

0.9551537396395962

In [33]:
mean_squared_error(ytest,ypred)

704895.7891546162

In [35]:
mean_absolute_error(ytest,ypred)

414.4756210604375

In [36]:
np.sqrt(mean_squared_error(ytest,ypred))

839.5807222385565