In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [57]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [38]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [39]:
df=sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [40]:
df.shape

(53940, 10)

In [41]:
df.nunique()

carat        273
cut            5
color          7
clarity        8
depth        184
table        127
price      11602
x            554
y            552
z            375
dtype: int64

In [42]:
df.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

In [43]:
df['cut_encod']=df.cut.cat.codes
df['color_encod']=df.color.cat.codes
df['clarity_encod']=df.clarity.cat.codes

In [46]:
df_ccc=df[['cut','color','clarity']].copy()

In [48]:
df=df.drop(['cut','color','clarity'],axis=1)
df.head()

,carat,depth,table,price,x,y,z,cut_encod,color_encod,clarity_encod
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,1,6
1,0.21,59.8,61.0,326,3.89,3.84,2.31,1,1,5
2,0.23,56.9,65.0,327,4.05,4.07,2.31,3,1,3
3,0.29,62.4,58.0,334,4.20,4.23,2.63,1,5,4
4,0.31,63.3,58.0,335,4.34,4.35,2.75,3,6,6

In [49]:
y=df.price
X=df.drop('price',axis=1)

In [51]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

In [53]:
model=RandomForestRegressor(n_estimators=20,random_state=0)

In [54]:
model.fit(xtrain,ytrain)

RandomForestRegressor(n_estimators=20, random_state=0)

In [56]:
ypred=model.predict(xtest)

In [58]:
mean_squared_error(ytest,ypred)

297931.8801012293

In [59]:
mean_absolute_error(ytest,ypred)

268.9084058731483

In [60]:
from sklearn.metrics import r2_score

In [61]:
r2_score(ytest,ypred)

0.981376018781016